.logo{

    display:flex;
    align-items:center;
    gap:14px;

    text-decoration:none;

    cursor:pointer;

}

.logo-icon-container{

    width:58px;
    height:58px;

    background:#16a34a;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;

}

.logo:hover .logo-icon-container{

    transform:scale(1.08);

    box-shadow:0 10px 25px rgba(22,163,74,.25);

}

.logo-icon{

    color:#fff;

    font-size:28px;

}

.logo-content{

    display:flex;
    flex-direction:column;

}

.logo-title{

    font-size:28px;

    font-weight:700;

    color:#111827;

    line-height:1;

}

.logo-subtitle{

    font-size:12px;

    color:#6b7280;

    margin-top:4px;

    letter-spacing:1px;

    text-transform:uppercase;

}